body{
    background-image: url(images/african-landscape.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.aboutpage{
    /* border: 1px solid #D80025; */
    height: 800px;
    background-color: rgba(252, 160, 0, 0.9);
}
h1{
    text-align: center;
}
.aboutrow{
    /* margin-left: 1%; */
    justify-content: space-evenly;
}
.aboutimage1{
    height: 300px;
}
.aboutcard{
    margin-top: 2%;
    width: 450px;
    height: 250px;
}

.namerow{
    justify-content: space-evenly;
}
#day{
    text-align: center;
}
.namerow ul{
    list-style: none;
}
.namecard{
    width: 98%;
    margin-top: 5%;
    margin-left: 1%;
}