body{
    background-image: url(images/african-landscape.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.generatorpage{
    /* border: 1px solid #D80025; */
    height: 780px;
    /* background-color: #D80025; */
}
.gentext{
    text-align: center;
}
.genrow{
    justify-content: space-around;
    border: 1px solid rgba(252, 160, 0, 0.9);
    width: 98%;
    margin-left: 1%;
    background-color: rgba(252, 160, 0, 0.9);
    margin-top: 10%;
}
#masks{
    height: 250px;
    margin-top: 2%;
}
#submit{
    border: 1px solid black;
    background-color: #fca000;
}