body{
    background-image: url(images/african-landscape.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.homepage{
    height: 780px;
}
.greetings{
    text-align: center;
    padding-top: 35px;
}
#createbtn{
    background-color: #FCA000;
    border: 1px solid #FCA000;
    height: 50px;
    margin-left: 40%;
    margin-top: 2%;
    border-radius: 30px;
}
#createbtn a{
    color: black;
}
#createbtn :hover{
    background-color: white;
}

.home-row{
    height: 450px;
    justify-content: space-around;
    width: 96%;
    margin-left: 2%;
    margin-top: 4%;
}
.homeimage{
    height: 350px;
    margin-top: 10%;
}
.homecard{
    height: 80%;
    margin-top: 2%;
    padding-top: 1%;
}
.homecard h3{
    color: #D80025;
}